<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPi4 Camera Stream</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #000;
        }
        h1 {
            position: absolute;
            top: 0;
            width: 100%;
            text-align: center;
            color: #fff;
        }
        .button-container {
            position: absolute;
            right: 10%;
            padding: 1em;
        }
        .button-container button {
            display: block;
            width: 150px;
            height: 50px;
            margin-bottom: 1em;
            font-size: 1.2em;
        }
        #mode-display, #message-display {
            position: absolute;
            color: #fff;
            font-size: 1.5em;
            text-align: center;
            width: 100%;
        }
        #mode-display {
            top: 10%;  /* Adjust as needed */
        }
        #message-display {
            bottom: 10%;  /* Adjust as needed */
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Raspberry Pi 4 Camera Stream</h1>
    <img id="video" src="/video_feed" alt="Live Video Feed">
    <div class="button-container" id="button-container">
        <!-- Buttons will be dynamically added here based on the mode -->
    </div>
    <div class="button-container" id="rolling-button-container" style="left: 10%; right: auto;">
        <button id="forward">Go Forward</button>
        <button id="backward">Go Backward</button>
        <button id="right">Turn Right</button>
        <button id="left">Turn Left</button>
    </div>    
    <p id="mode-display" ></p>
    <p id="message-display"></p>
    <script>
        var mode = 1;
        var trackingStatus = true;
        var button22 = false;
        var button23 = false;
        var button27 = false;
        var previous_data = [mode, trackingStatus, button22, button23, button27]
        var modeNames = ["No Mode", "Manual", "Object Tracking", "Stablization"];
        var startX, startY, endX, endY;
        var clickCount = 0;
        var coordinates = [null, null];

        function clickHandler(e) {
            var rect = this.getBoundingClientRect();
            var x = e.clientX - rect.left;
            var y = e.clientY - rect.top;

            if (mode == 1) {
                // Send the coordinates to the server if in manual mode
                $.ajax({
                    url: '/set_manual_coordinates',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ 'coordinates': {x: x, y: y} }),
                    success: function(response) {
                        console.log(response);
                    }
                });
            } else if (mode == 2 && clickCount < 2) {
                coordinates[clickCount] = {x: x, y: y};
                clickCount++;
                if (clickCount == 2) {
                    $.ajax({
                        url: '/set_coordinates',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ 'coordinates': coordinates }),
                        success: function(response) {
                            console.log(response);
                        }
                    });
                }
            }
        }

        $('#video').click(clickHandler);

        function displayMode() {
            $('#mode-display').text('Current Mode: ' + modeNames[mode]);
        }

        function displayMessage(message) {
            var messageDisplay = $('#message-display');
            messageDisplay.text(message);
            setTimeout(function() {
                messageDisplay.text('');  // Clear the message after 2 seconds
            }, 2000);
        }

        function sendSignal(buttonId) {
            // Clear the coordinate variables if the 'cancel-tracking' button is clicked
            if (buttonId == 'cancel-tracking') {
                startX = undefined;
                startY = undefined;
                endX = undefined;
                endY = undefined;
                clickCount = 0;
            }

            $.ajax({
                url: '/button_click',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ 'button_id': buttonId }),
                success: function(response) {
                    console.log(response);
                }
            });
        }

        function changeMode() {
            mode = mode % 3 + 1;  // Change the mode from 1 to 2, 2 to 3, 3 to 1

            // Clear the coordinate variables when the mode changes
            startX = undefined;
            startY = undefined;
            endX = undefined;
            endY = undefined;

            $.ajax({
                url: '/change_mode',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ 'mode': mode }),
                success: function(response) {
                    console.log(response);
                }
            });
        }


        function updateButtons() {
            var buttonContainer = $('#button-container');
            buttonContainer.empty();  // Remove all current buttons

            // Add buttons based on the mode
            if (mode == 1) {
                buttonContainer.append('<button id="change-mode">Change Mode</button>');
                buttonContainer.append('<button id="exit">Exit</button>');
            } else if (mode == 2) {
                buttonContainer.append('<button id="change-mode">Change Mode</button>');
                if (trackingStatus === true) {
                    buttonContainer.append('<button id="pause-tracking">Pause Tracking</button>');
                } else {
                    buttonContainer.append('<button id="pause-tracking">Resume Tracking</button>');
                }
                buttonContainer.append('<button id="cancel-tracking">Cancel Tracking</button>');
                buttonContainer.append('<button id="exit">Exit</button>');
            } else if (mode == 3) {
                buttonContainer.append('<button id="change-mode">Change Mode</button>');
                buttonContainer.append('<button id="start-stabilization">Start Stabilization</button>');
                buttonContainer.append('<button id="cancel-stabilization">Cancel Stabilization</button>');
                buttonContainer.append('<button id="exit">Exit</button>');

            }

            // Add click event listeners to the new buttons
            buttonContainer.children('button').click(function() {
                var buttonId = this.id;
                if (buttonId == 'change-mode') {
                    changeMode();
                } else {
                    sendSignal(buttonId);
                }
            });
        }

        function rollingControl(buttonId, action) {
            var url = (action === 'down') ? '/control_rolling' : '/exit_rolling';
            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ 'rolling_direction': buttonId }),
                success: function(response) {
                    console.log(response);
                    var mes = (action === 'down') ? 'Car is rolling ' + buttonId : 'Car stops rolling';
                    displayMessage(mes);
                }
            });
        }

        function updateMode() {
            $.getJSON('/get_current_mode', function(data) {
                // data is the dictionary {'mode': mode} from the server
                console.log(data);
                // Update your mode based on data
                mode = data['mode'];
                trackingStatus = data['tracking_status'];
                button22 = data['button22'];
                button23 = data['button23'];
                button27 = data['button27'];
                if (mode === 2 && trackingStatus === true && button22 === true ) {
                    mes = 'Resume tracking';
                    displayMessage(mes);
                }
                if (mode === 2 && trackingStatus === false && button22 === true ) {
                    mes = 'Pause tracking';
                    displayMessage(mes);
                }
                if (mode === 2 && button23 === true ) {
                    startX = undefined;
                    startY = undefined;
                    endX = undefined;
                    endY = undefined;
                    clickCount = 0;
                    mes = 'Cancel tracking';
                    displayMessage(mes);
                }
                if (mode === 3 && button22 === true ) {
                    mes = 'Start stablization';
                    displayMessage(mes);
                }
                if (mode === 3 && button23 === true ) {
                    mes = 'Cancel stablization';
                    displayMessage(mes);
                }
                if (button27 === true ) {
                    mes = 'Program will exit';
                    displayMessage(mes);
                }
                var current_data = [mode, trackingStatus, button22, button23, button27]
                if (!(current_data.every((value, index) => value === previous_data[index]))) {
                    previous_data = current_data;
                    displayMode();
                    updateButtons();
                }
            });
        }

        $(document).ready(function() {
            displayMode();  // Display the initial mode when the page loads
            updateButtons();  // Update the buttons when the page loads
            setInterval(updateMode, 200);  // Update mode every second
            $('#rolling-button-container').children('button').mousedown(function() {
                rollingControl(this.id, 'down');
            }).mouseup(function() {
                rollingControl(this.id, 'up');
            });

            $(document).keydown(function(e) {
                var direction = null;
                switch(e.which) {
                    case 37: // left arrow
                        direction = 'left';
                        break;
                    case 38: // up arrow
                        direction = 'forward';
                        break;
                    case 39: // right arrow
                        direction = 'right';
                        break;
                    case 40: // down arrow
                        direction = 'backward';
                        break;
                    default: return; // exit this handler for other keys
                }
                e.preventDefault(); // prevent the default action (scroll / move caret)
                rollingControl(direction, 'down');
            }).keyup(function(e) {
                var direction = null;
                switch(e.which) {
                    case 37: // left arrow
                        direction = 'left';
                        break;
                    case 38: // up arrow
                        direction = 'forward';
                        break;
                    case 39: // right arrow
                        direction = 'right';
                        break;
                    case 40: // down arrow
                        direction = 'backward';
                        break;
                    default: return; // exit this handler for other keys
                }
                e.preventDefault(); // prevent the default action (scroll / move caret)
                rollingControl(direction, 'up');
            });
        });
    </script>
</body>
</html>
